api/coverage
api/node_modules
api/junit.xml

interfaces/web/connect/node_modules
interfaces/web/connect/src/.next

interfaces/web/home/node_modules
interfacees/web/home/src/.next

interfaces/web/profile/node_modules
interfaces/web/profile/src/.next

interfaces/web/thread/node_modules
interfaces/web/thread/src/.next
