.DS_Store
api/coverage
api/node_modules
api/junit.xml
api/.DS_Store

interfaces/web/connect/node_modules
interfaces/web/connect/src/.next

interfaces/web/home/node_modules
interfacees/web/home/src/.next

interfaces/web/profile/node_modules
interfaces/web/profile/src/.next

interfaces/web/thread/node_modules
interfaces/web/thread/src/.next

interfaces/web/admin/node_modules/
interfaces/web/admin/src/.next/

interfaces/web/login/node_modules
interfaces/web/login/src/.next
