{
  "env": {
    "node": true,
    "commonjs": true,
    "es6": true,
    "jest": true
  },
  "parser": "babel-eslint",
  "extends": ["airbnb-base", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "error",
    "import/no-commonjs": "error",
    "camelcase": [
      1,
      {
        "properties": "always"
      }
    ]
  }
}
